.item:hover {
    background-color: rgb(181, 214, 247);
}
.item a {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    color: currentColor;
    min-height: 100%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: var(--SiteFF);
    font-weight: 500;
}
.item .img {
    width: 8em;
    margin: 0 auto;
    position: relative;
    flex: none;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 5%) 0 0.25em 0.5em, rgb(0 0 0 / 5%) 0 0 0 1px;
    background: #fff;
}
.item .img img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.item .item {
    margin: 1em 0;
    flex: auto;
}
.item .item_name {
    max-height: 3em;
    font-size: 14px;
    overflow: hidden;
    word-break: break-word;
    margin-bottom: 1em;
    color: #1e90ff;
    font-weight: 700;
}
.item .item_name span{
    max-height: 3em;
    overflow: hidden;
    word-break: break-word;
    margin-bottom: 1em;
    color: #1e90ff;
    font-weight: 700;
}
.item .seller {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .user-level {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.item_price{
    font-size: 12px;
}