
.login_header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}
.login_header .logo {
    flex: none;
    margin: 0 5em;
    padding-top: 38px;
}
.login_header .logo h1 span{
    display: block;
    font-size: 40px;
    width: 3em;
    height: 1em;
    line-height: 999;
    overflow: hidden;
    background: url("https://member.seagm.com/skin/images/seagm_member_logo_2020_text_black-b970e72c5c.svg") no-repeat center/contain;
}
.login_content {
    margin-bottom: auto;
    padding: 0px 35px;
}
.login_content>.inner {
    padding: 0 2em;
}

.login_content>.inner, .login_footer>.inner, .login_header>.inner {
    max-width: 100em;
    margin: 0 auto;
    padding: 0em 2em 1em 2em;
    box-sizing: border-box;
}
.login_box {
    flex: auto;
    max-width: 100em;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--SiteFF);
}
.login_box>.inner {
    position: relative;
}

.login_box>.inner {
    background: #fff;
    border-radius: 2em;
    box-shadow: rgb(0 0 0 / 3%) 0 0 1em, rgb(0 0 0 / 5%) 0 1em 2em, rgb(0 0 0 / 3%) 0 2em 4em;
    overflow: hidden;
    display: flex;
    min-height: 30em;
}
.login_form_wrap {
    flex: 1;
    align-self: center;
    padding: 4em;
    box-sizing: border-box;
}
.login_form_wrap>.inner {
    max-width: 30em;
    margin: 0 auto;
}
.login_form_wrap h2 {
    font-size: 2em;
    text-transform: uppercase;
}
.login_form ul li {
    list-style: none;
}
.login_form ul>li {
    margin: 1em 0;
}
.login_form_wrap h3{
    font-weight: bold;
    font-size: 25px;
}
.login_form_wrap form ul li{
    list-style: none;
    padding-top: 10px;
}
.cpt-text {
    display: flex;
    line-height: 3em;
    align-items: center;
    border: rgb(0 0 0 / .25) 1px solid;
    border-radius: 5px;
}
.cpt-text>.icon {
    flex: none;
    padding: 0 1em !important;
    font-size: 20px;
}
[class*=cpt-]>input:not([type=checkbox]):not([type=radio]):not([type=range]), [class*=cpt-]>select, [class*=cpt-]>textarea {
    font-weight: 500;
    margin: 0;
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 0 1em;
    box-sizing: border-box;
}
.cpt-combine {
    display: flex;
    line-height: 3em;
    align-items: center;
    border: rgb(0 0 0 / .25) 1px solid;
    border-radius: 5px;
}
.cpt-combine>[class*=cpt-] {
    flex: auto;
    border: none;
    border-radius: 0;
    background: 0 0!important;
    line-height: 0em;
    --shadow-focus-color: transparent!important;
}
.login_form #login_btw {
    opacity: 1!important;
    margin-right: -1px;
    padding: 5px;
    transform: none!important;
}
.login_form_wrap .pw_reset {
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
}
#login_form p {
    font-size: 12px !important;
    margin: 0 0 1em !important;
    font-weight: 400 !important;
    justify-content: center;
    opacity: .7 !important;
}
#login_form_accounts h3 {
    font-size: 1em !important;
    margin: 0 0 1em !important;
    font-weight: 400 !important;
    justify-content: center;
    opacity: .5 !important;
}
#login_form_accounts {
    margin: 4em auto 0;
    text-align: center;
}
.accounts_list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounts_list li {
    list-style-type: none;
    padding: 5px;
}
.L_create_account {
    order: -1;
    flex: 1;
    padding: 4em;
    background-color: #7184d0;
    background-image: linear-gradient(315deg,hsl(210 100% 50%/0%),hsl(210 100% 50%/60%)),url("../../images/login-left.PNG");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover;
    color: #fff;
    border-radius: 0 0 100% 0;
}
.L_create_account>.inner {
    max-width: 25em;
}
.L_create_account h1 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 1.5em;
}
.L_create_account p {
    font-size: 1em;
}
.L_create_account .btw {
    display: block;
    font-size: 1.166667em;
    font-weight: 700;
}
.L_create_account .btw{
    background-color: rgb(154, 205, 50);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    width: 100%;
}
.L_create_account .btw a{
   text-decoration: none;
   color: white !important;
   font-size: 14px;
}
.reg_steps {
    margin: 2em -41px;
}
.reg_steps>li {
    counter-increment: step;
    margin: 1em 0;
    list-style: none;
}
.reg_steps>li>div {
    font-size: 12px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.reg_steps>li>div:before {
    content: counter(step);
    display: block;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    overflow: hidden;
    text-align: center;
    border-radius: 25%;
    background: rgba(255 255 255/10%);
    font-weight: 700;
    margin-right: 0.5em;
    flex: none;
    align-self: flex-start;
}
.login_form_wrap input {
    border: 0;
    width: 100%;
}
svg.svg-inline--fa.fa-arrow-right {
    font-size: 25px;
    font-weight: 700 !important;
}
.btn-primary {
    margin: 0px !important;
    padding-top: 9px !important;
}
@media only screen and (max-width: 480px){
    .login_header {
        background: #fff linear-gradient(0deg,rgba(0 0 0/5%),rgba(0 0 0/0));
        box-shadow: rgb(0 0 0 / 10%) 0 1px 0;
        height: 5em;
    }
    .login_header .logo {
        flex: none;
        margin: 0 2em;
        padding-top: 25px;
    }
    .login_header .logo h1 span{
        display: block;
        font-size: 30px;
        width: 3em;
        height: 1em;
        line-height: 999;
        overflow: hidden;
        background: url("https://member.seagm.com/skin/images/seagm_member_logo_2020_text_black-b970e72c5c.svg") no-repeat center/contain;
    }
    .login_box>.inner {
        border-radius: 0em;
        box-shadow: none;
        flex-direction: column-reverse;
        min-height: 40em;
    }
    .login_content>.inner, .login_footer>.inner, .login_header>.inner {
        width: 25em;
        padding: 0em;
        width: 100%;
    }
    .login_form_wrap h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .login_form_wrap h2 {
        font-size: 12px !important;
        line-height: 20px;
        padding: 0px 40px 0 0;
        text-transform: capitalize;
        opacity: 0.9 !important;
    }
    .login_form_wrap {
        padding: 2em 2em 2em 3em;
    }
    .login_form_wrap ul {
        margin-left: -44px;
    }
    .L_create_account .btw {
        background-color: rgb(154, 205, 50);
        outline: none;
        color: white;
        border-radius: 5px;
        padding: 13px 10px;
        width: 100%;
    }
    .L_create_account {
        flex: none;
        display: flex;
        padding: 3em 2em;
        background-image: linear-gradient(315deg,hsl(210 100% 50%/0%),hsl(210 100% 50%/60%)),url("https://seagm-media.seagmcdn.com/member/art/bg_0.jpg!webp");
        justify-content: center;
        align-items: center;
        border-radius: 0 0;
    }
    .container-fluid{
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .reg_steps>li>div:before {
        background: rgba(0 0 0/5%);
    }
    .L_create_account h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .L_create_account p {
        font-size: 12px;
    }
}
 









/* .login_tiger {
    flex: none;
    margin: 0 2em;
    pointer-events: none;
}
.login_tiger .tiger {
    width: 8em;
    height: calc(8em * .75);
    position: relative;
}
.login_tiger .tiger:before {
    height: var(--transY,85%);
    background-position: var(--offsetX,calc(var(--size) * -1)) 0;
    transition: height .2s;
}

.login_tiger .tiger:after, .login_tiger .tiger:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/art/.login_tiger-e2a8254442.png) no-repeat 0 0/400% auto;
}
.login_tiger .tiger:after {
    z-index: 2;
    background-position: 0 100%;
    margin-bottom: calc(var(--size)/-10);
}

.login_tiger .tiger:after, .login_tiger .tiger:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/art/.login_tiger-e2a8254442.png) no-repeat 0 0/400% auto;
} */