
.signup_header>.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}
.signup_header .logo {
    flex: none;
    margin: 0 2em;
    padding-top: 50px;
}
.signup_header .logo h1 {
    display: block;
    font-size: 2.5em;
    width: 3em;
    height: 1em;
    line-height: 999;
    overflow: hidden;
}
.signup_content {
    margin-bottom: auto;
}
.signup_content>.inner {
    padding: 0 2em;
}

.signup_content>.inner, .signup_footer>.inner, .signup_header>.inner {
    max-width: 100em;
    margin: 0 auto;
    padding: 2em;
    box-sizing: border-box;
}
.signup_box {
    flex: auto;
    max-width: 100em;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: var(--SiteFF);
}
.signup_box>.inner {
    position: relative;
}

.signup_box>.inner {
    background: #fff;
    border-radius: 2em;
    box-shadow: rgb(0 0 0 / 3%) 0 0 1em, rgb(0 0 0 / 5%) 0 1em 2em, rgb(0 0 0 / 3%) 0 2em 4em;
    overflow: hidden;
    display: flex;
    min-height: 40em;
}
.signup_form_wrap {
    flex: 1;
    align-self: center;
    padding: 4em;
    box-sizing: border-box;
}
.signup_form_wrap>.inner {
    max-width: 30em;
    margin: 0 auto;
}
.signup_form_wrap h2 {
    font-size: 2em;
    text-transform: uppercase;
}
.signup_form ul li {
    list-style: none;
}
.signup_form ul>li {
    margin: 1em 0;
}
.signup_form_wrap h3{
    font-weight: bold;
    font-size: 25px;
}
.signup_form_wrap form ul li{
    list-style: none;
    padding-top: 10px;
}
.cpt-text {
    display: flex;
    line-height: 3em;
    align-items: center;
    border: rgb(0 0 0 / .25) 1px solid;
    border-radius: 5px;
}
.cpt-text>.icon {
    flex: none;
    padding: 0 1em !important;
    font-size: 20px;
}
[class*=cpt-]>input:not([type=checkbox]):not([type=radio]):not([type=range]), [class*=cpt-]>select, [class*=cpt-]>textarea {
    font-weight: 500;
    margin: 0;
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 0 1em;
    box-sizing: border-box;
}
.cpt-combine {
    display: flex;
    line-height: 3em;
    align-items: center;
    border: rgb(0 0 0 / .25) 1px solid;
    border-radius: 5px;
}
.cpt-combine>[class*=cpt-] {
    flex: auto;
    border: none;
    border-radius: 0;
    background: 0 0!important;
    line-height: 0em;
    --shadow-focus-color: transparent!important;
}
.signup_form #signup_btw {
    opacity: 1!important;
    margin-right: -1px;
    padding: 5px;
    transform: none!important;
}
.signup_form_wrap .pw_reset {
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
}
.signup_form_wrap h2 {
    font-size: 1em !important;
    margin: 0 0 1em !important;
    font-weight: 400 !important;
    justify-content: center;
    opacity: .5 !important;
}
#signup_form_accounts {
    margin: 4em auto 0;
    text-align: center;
}
.accounts_list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounts_list li {
    list-style-type: none;
    padding: 5px;
}
.create_account {
    order: -1;
    flex: 1;
    padding: 4em;
    background-color: #7184d0;
    background-image: linear-gradient(315deg,hsl(210 100% 50%/0%),hsl(210 100% 50%/60%)),url(https://seagm-media.seagmcdn.com/member/art/bg_0.jpg!webp);
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: cover;
    color: #fff;
    border-radius: 0 0 100% 0;
}
.create_account>.inner {
    max-width: 25em;
}
.create_account h1 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 1.5em;
}
.create_account p {
    font-size: 1em;
}
.create_account .btw {
    display: block;
    font-size: 1.166667em;
    font-weight: 700;
}
#signup_form .btw{
    background-color: rgba(154, 205, 50, 1);
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;
    width: 100%;
}
#signup_form .btw a{
   text-decoration: none;
   color: white;
   font-size: 14px;
}

 
@media only screen and (max-width: 480px){
    .signup_box>.inner {
        border-radius: 0em;
        box-shadow: none;
        flex-direction: column-reverse;
        min-height: 40em;
    }
    .signup_content>.inner, .signup_footer>.inner, .signup_header>.inner {
        width: 25em;
        padding: 0em;
    }
    .signup_form_wrap h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .signup_form_wrap h2 {
        font-size: 12px !important;
        line-height: 20px;
        padding: 0px 40px 0 0;
        text-transform: capitalize;
        opacity: 0.9 !important;
    }
    .signup_form_wrap {
        padding: 2em 2em 2em 3em;
    }
    .signup_form_wrap ul {
        margin-left: -44px;
    }
    #signup_form .btw {
        background-color: #1E90FF;
        outline: none;
        color: white;
        border-radius: 5px;
        padding: 13px 10px;
        width: 100%;
    }
    .create_account {
        flex: none;
        padding: 3em 2em;
        color: black;
        background: linear-gradient(0deg,rgba(0 0 0/0),rgba(0 0 0/5%));
    }
    .container-fluid{
        width: 100%;
        padding-left: 0px !important;
    }
    .reg_steps>li>div:before {
        background: rgba(0 0 0/5%);
    }
    .create_account h1 {
        font-size: 20px;
        font-weight: bold;
    }
}









/* .signup_tiger {
    flex: none;
    margin: 0 2em;
    pointer-events: none;
}
.signup_tiger .tiger {
    width: 8em;
    height: calc(8em * .75);
    position: relative;
}
.signup_tiger .tiger:before {
    height: var(--transY,85%);
    background-position: var(--offsetX,calc(var(--size) * -1)) 0;
    transition: height .2s;
}

.signup_tiger .tiger:after, .signup_tiger .tiger:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/art/.signup_tiger-e2a8254442.png) no-repeat 0 0/400% auto;
}
.signup_tiger .tiger:after {
    z-index: 2;
    background-position: 0 100%;
    margin-bottom: calc(var(--size)/-10);
}

.signup_tiger .tiger:after, .signup_tiger .tiger:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(../images/art/.signup_tiger-e2a8254442.png) no-repeat 0 0/400% auto;
} */