
*{
    top: 0;
    padding: 0;
    margin: 0px;

}

body{
    top: -20px;
    overflow-x: hidden;
}
.gameCard
{

    padding-left: 10px;
    padding-right: 10px;

}
.myitemcontainer {
    width: 100%;
    height: 250px;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.myitemcontainer .item {
    width: 120px;
    flex-shrink: 0;
    height:50px;
   margin-left:30px;
}
.myitemcontainer {
    width: 100%;
    height: 200px;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.myitemcontainer .item {
    width: 120px;
    flex-shrink: 0;
    height:50px;
    margin-left:30px;
}
.myitemcontainer .nextItem{
    width: 120px;
    flex-shrink: 0;
    height:50px;
    margin-left:50px;
}
.myitemGamecontainer{
    width: 100%;
}
.myitemGamecontainer .item2{
   float: left;
    width: 175px;

}
.footerRight{
    float: right;
    /*nnn*/
}

.myitemcontainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.maintop1{
    margin-top: -20px;
    width: 100%;
    height: 70px;
    padding-left: 5vw;
    padding-top: 30px;
    padding-right: 5vw;
    background:#F8F8F8;
}
.maintop1 ul li{
    float: left;
    text-decoration: none;
    margin-left: 13px;

}
.maintop1 ul li a{
    color: gray;
font-size: 15px;
}

.maintop1 ul{
    list-style: none;
}
a {
    text-decoration: none;
}


.maintop2{
min-width: 320px;
    width: 100%;
    height: 70px;
    padding-left: 5vw;
    padding-top: 10px;
    padding-right: 4vw;
    background:white;

    position: sticky;
    z-index: 1;
}
.maintop2 ul{
    list-style: none;
}
.maintop2 ul li{

    text-decoration: none;


}
.topbarInput{
    height: 40px;
    border: solid 1px lightgrey;
    width: 60vw;
    min-width: 210px;
    max-width: 400px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
}
.topbarInput input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
}
.top2-signuplogin{
    display:block;
}
.mysidebar{
    height: 100vh;
    background: white;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    border-right: solid 1px lightgrey;
    z-index: 2;
}
.top2-logo{
    display:block;
}
.top2-toggle{
    display:none;
}
.top2-plususer{
    display:none;
}
.topbarInputBox{
padding-left: 30px;

}
.myflex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.gamecatcardimage{
    border-radius: 10px;
    max-height: 140px;
    width: 80%;


}
.gameItemcard{




}
.gameItemcardimage{
    border-radius: 10px;
    min-width: 120px;
    max-height: 120px;
    max-width: 300px;
}

.gamecatcardtitle{
    font-size: 10px; font-weight: bold; color: gray
}
.hideOnMob{
     display: block;
 }
.hideOnPC{
    display: none;
}


